/3 - Implementacion/Adapter SDK/Net/v4.0/Adapter.csproj.user
/_Material/Tools/RubyMine-2016.1.2.exe
/_Material/Tools/SoapUI-x32-5.2.1.exe
/_Material/Tools/Sublime Text Build 3114 Setup.exe
/_Material/Tools/TortoiseGit-2.2.0.0-32bit.msi
/_Material/Tools/rubyinstaller-2.0.0-p648.exe
/3 - Implementacion/Adapter SDK/Net/v4.0/*.suo
/3 - Implementacion/Adapter SDK/Net/v4.0/_ReSharper.Adapter
/3 - Implementacion/Adapter SDK/Net/v4.0/bin/Debug
/3 - Implementacion/Adapter SDK/Net/v4.0/obj/x86/Debug
/3 - Implementacion/Adapter SDK/Java/v1.8/bin/adapter
/3 - Implementacion/Adapter SDK/Java/v1.8/bin/Adapter.jar
/3 - Implementacion/Adapter SDK/Java/v1.8/out/Payment.out
/3 - Implementacion/Adapter SDK/PHP/v5.3/out/PaymentFlow.out
/3 - Implementacion/Adapter SDK/PHP/v5.3/out/Sample_01_PaymentFlow.out
/3 - Implementacion/Adapter SDK/NodeJS/v4.4.5/out/Sample_01_PaymentFlow.out
/5 - Deployment/Delivery/v0.1/Results/SDK-Java/v1.8/Sample/1_PaymentFlow.out
/5 - Deployment/Delivery/v0.1/Results/SDK-Net/v4.0/Sample/1_PaymentFlow.out
/5 - Deployment/Delivery/v0.1/Results/SDK-PHP/v5.3/Sample/1_PaymentFlow.out
/5 - Deployment/Delivery/v0.1/Results/SDK-Python/v2.7/Sample/1_PaymentFlow.out
/5 - Deployment/Delivery/v0.1/Results/SDK-Ruby/v1.9.3/Sample/Sample_01_PaymentFlow.out
/3 - Implementacion/Adapter SDK/Ruby/v1.9.3/Adapter/out/Sample_01_PaymentFlow.out
/3 - Implementacion/Adapter SDK/Net/v4.0/obj
/3 - Implementacion/SDKs
/3 - Implementacion/Adapter SDK/PHP/v5.3/out/*.out
/3 - Implementacion/Adapter SDK/Java/v1.8/out/Sample_01_BsaDiscover.out
/3 - Implementacion/Adapter SDK/Java/v1.8/out/Sample_01_PaymentFlow.out
/3 - Implementacion/Adapter SDK/PHP/v5.3/composer.json
/3 - Implementacion/Adapter SDK/PHP/v5.3/src/message.log
/5 - Deployment/Delivery/v0.1/Results/SDK-NodeJS/v4.4.5/Sample/*.out
